<div id="container">
    <h1>Calculator </h1>
    <div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">First Number</span>
            <input type="text" class="form-control" placeholder="Introdcue a number" aria-describedby="basic-addon1" [(ngModel)]="firstNumber">
            <span class="input-group-text" id="basic-addon1">Second Number</span>
            <input type="text" class="form-control" placeholder="Introdcue a number" aria-describedby="basic-addon1" [(ngModel)]="secondNumber">
        
        </div>
        <div>
            <button type="button" class="btn btn-info" (click)="add()">Add</button>
            <button type="button" class="btn btn-danger" (click)="substract()">Substract</button>
            <button type="button" class="btn btn-warning" (click)="multiply()">Multiply</button>
            <button type="button" class="btn btn-success" (click)="divide()">Divide</button>
        </div>
    </div>
    <br>
    <div>
        <h3>The result is: {{result}}</h3>
        {{note}}
    </div>
</div>